html {		margin: 0px;
			padding: 0px;
			background-color: black;
}

body {		margin: 0px;
			padding: 0px;
		
}
p {
	font-size: 30px;
	color: white;
}

#formDiv {
      position: absolute;
      text-align: center;
      margin-top: -15px;
      width: 100%;
    }
    
#gamediv {	margin: 0px;
			padding: 0px;
}

			